.cart-empty{
    height: 50vh;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 5px;
    color: white;
}
